/.settings
.project
/.idea
.vs/screeps.slnx/FileContentIndex/3fbddd1a-dd48-4353-8426-c62d56af7305.vsidx
.vs/screeps.slnx/FileContentIndex/7bc37211-aab4-4925-98c8-de165b77addb.vsidx
.vs/screeps.slnx/FileContentIndex/ecc025ff-cedf-4d68-8c59-fbcc9c5537be.vsidx
.vs/screeps.slnx/v18/.wsuo
.vs/screeps.slnx/v18/DocumentLayout.backup.json
.vs/screeps.slnx/v18/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
*.vsidx
